<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="description" content="ng-razberry">
    <title>ng-razberry, from graycrow</title>
    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/font-awesome.css" rel="stylesheet">
    <link href="/css/metricsgraphics.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-fluid">
        <script type="text/ng-template" id="home-template.html">
            <accordion>
                <accordion-section ng-repeat="section in sections"></accordion-section>
            </accordion>
        </script>
        <script type="text/ng-template" id="accordion-template.html">
            <div class="row" ng-transclude></div>
        </script>
        <script type="text/ng-template" id="accordion-section-template.html">
            <div section="section" class="pane col-sm-3 col-lg-3 {{section.cssClass}}">
                <h2 ng-click="isOpen = isOpen ? undefined : true" class="title">
                        <i class="fa fa-{{section.icon}}"></i><span>&nbsp;{{section.name}}</span>
                    </h2>
            </div>
        </script>
        <ng-view></ng-view>
    </div>
    <script type="text/javascript" src="/js/vendor/jquery/jquery-2.2.0.js"></script>
    <script type="text/javascript" src="/js/vendor/underscore/underscore.js"></script>
    <script type="text/javascript" src="/js/vendor/angular/angular.js"></script>
    <script type="text/javascript" src="/js/vendor/angular/angular-route.js"></script>
    <script type="text/javascript" src="/js/vendor/angular/angular-resource.js"></script>
    <script type="text/javascript" src="/js/vendor/d3/d3.js"></script>
    <script type="text/javascript" src="/js/vendor/metrics-graphics/metricsgraphics.js"></script>
    <script type="text/javascript" src="/js/ng-razberry/app.js"></script>
    <script type="text/javascript" src="/js/ng-razberry/services.js"></script>
    <script type="text/javascript" src="/js/ng-razberry/filters.js"></script>
    <script type="text/javascript" src="/js/ng-razberry/controllers.js"></script>
    <script type="text/javascript" src="/js/ng-razberry/directives.js"></script>
    <script type="text/javascript" src="/js/ng-razberry/config.js"></script>
    <script type="text/javascript">
        //<[CDATA[
            Graycrow.RazberryApp.start("ngRazberry", Graycrow.Razberry.SectionsConfig);
            //]]>
    </script>

</body>

</html>