html, body {
    height: 100%;
}

body {
    font-size: 14px;
    color: #FFFFFF;
    background-color: #474949;
}

body, h2, .h3, .h4, .h5, .h6 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

h2, .h2 {
    font-size: 20px;
    margin-top: 10px;
    text-shadow: rgba(0,0,0,0.3) 2px 2px 1px;
}
.container-fluid {
   padding-left: 15px;
   padding-right: 15px;
   margin-left: auto;
   margin-right: auto;
}
ng-view, .container-fluid, .row {
    height: inherit;
}

.row div.pane {
    -webkit-transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, height 0.3s ease, margin 0.3s ease;
}

.one {
    background-color: #563d7c;
}

.two {
    background-color: #428bca;
}

.three {
    background-color: #5cb85c;
}

.four {
    background-color: #474949;
}

.pane {
    height: 25%;
    overflow: hidden;
}

.pane.col-lg-1 {
    height: 8.333333333333332%;
}

.pane.col-lg-9 {
    height: 75%;
}

.title {
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: margin 0.3s ease;
    -moz-transition: margin 0.3s ease;
    -o-transition: margin 0.3s ease;
    transition: margin 0.3s ease;
}

.title i {
    width: 25px;
    text-align: center;
    display: inline-block;
}

@media (min-width: 768px) {
    h2, .h2 {
        font-size: 32px;
        margin-top: 20px;
    }

    .pane {
        height: inherit;
    }

    .pane.col-lg-1 {
        height: inherit;
    }

    .pane.col-lg-9 {
        height: inherit;
    }

    .pane.col-lg-1 .title {
		text-align: center;
    }

    .title span {
        display: inline-block;
        -webkit-transition: opacity 0.3s ease-out, width 0.3s ease;
        -moz-transition: opacity 0.3s ease-out, width 0.3s ease;
        -o-transition: opacity 0.3s ease-out, width 0.3s ease;
        transition: opacity 0.3s ease-out, width 0.3s ease;
    }

    .pane.col-lg-1 .title span {
        opacity: 0;
        width: 0;
    }

    .title i {
        width: auto;
        display: inline;
    }
}

/*
@media (min-width: 768px) {
    .container {
        max-width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        max-width: 970px;
    }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
*/
}

